<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5610.0">
	<Sites>
		<add SiteName="MultistoreSite" SiteId="700d0e5b-8de4-4fec-a863-a03b44471bdd" />
		<add SiteName="Canada" SiteId="08c57d76-788f-6f08-816f-ff0000397872" />
		<add SiteName="Austria" SiteId="9ec57d76-788f-6f08-816f-ff0000397872" />
	</Sites>
</analyticsConfig>