<?xml version="1.0" encoding="utf-8"?>
<orderConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5610.0">
	<providers>
		<add title="Canada Ecommerce Orders" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Data.OpenAccessOrdersDataProvider, Telerik.Sitefinity.Ecommerce" applicationName="orderProvider2" enabled="False" name="orderProvider2" />
		<add title="Austria Ecommerce Orders" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Data.OpenAccessOrdersDataProvider, Telerik.Sitefinity.Ecommerce" applicationName="orderProvider3" enabled="True" name="orderProvider3" />
		<add title="France Ecommerce Orders" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Data.OpenAccessOrdersDataProvider, Telerik.Sitefinity.Ecommerce" applicationName="orderProvider4" enabled="True" name="orderProvider4" />
	</providers>
</orderConfig>