<?xml version="1.0" encoding="utf-8"?>
<shippingConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5610.0">
	<providers>
		<add title="Canada Ecommerce Shipping" type="Telerik.Sitefinity.Modules.Ecommerce.Shipping.Data.OpenAccessShippingDataProvider, Telerik.Sitefinity.Ecommerce" applicationName="shippingProvider2" enabled="False" name="shippingProvider2" />
		<add title="Austria Ecommerce Shipping" type="Telerik.Sitefinity.Modules.Ecommerce.Shipping.Data.OpenAccessShippingDataProvider, Telerik.Sitefinity.Ecommerce" applicationName="shippingProvider3" enabled="True" name="shippingProvider3" />
		<add title="France Ecommerce Shipping" type="Telerik.Sitefinity.Modules.Ecommerce.Shipping.Data.OpenAccessShippingDataProvider, Telerik.Sitefinity.Ecommerce" applicationName="shippingProvider4" enabled="True" name="shippingProvider4" />
	</providers>
</shippingConfig>